:root {
  --navbar-color: grey;
  --primary-color: darkblue;
  --secondary-color: lightblue;
  --hover-bg: red;
  --hover-color: white;
  --box-shadow-effect: 5px 5px blue, 10px 10px red, 15px 15px green;
  --background-gradient: linear-gradient(to right, red, yellow);
}

/* set content highlight color and background */
::selection {
  background-color: black;
  color: lightcoral;
}

/* {============================= Universal Selectors =============================} */
* {
  margin: 0;
  padding: 0;
}

/* {============================= Element Selectors =============================} */
html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

/* <------ Header Styles & Navigation Bar Styles: ------> */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--navbar-color);
  /* z-index to prevent it from going underneath other elements. */
  z-index: 100;
}

nav a {
  float: left;
  text-align: center;
  padding: 1.5rem;
  color: var(--secondary-color);
}

nav a:hover {
  background-color: var(--hover-bg);
  color: var(--hover-color);
}

nav div {
  /* for the navigation bar, not using flex-box but just float the element */
  float: right;
}

figure {
  margin: 0;
  background-image: url("../images/bg.jpg");
  padding-top: 7rem;
}

img {
  display: block;
  border-radius: 50%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  display: inline;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 3rem;
  position: relative;
  bottom: 6rem;
  left: 120rem;
  transition: all 0.5s ease-in-out;
}

figcaption:hover {
  box-shadow: var(--box-shadow-effect);
}

span[data-descr] {
  position: relative;
  text-decoration: underline;
  cursor: grab;
}

span[data-descr]:hover::before {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  bottom: 2rem;
  min-width: 18rem;
  border: 1px red solid;
  background-color: white;
}

/* <----- Main Content Styles: -----> */
main {
  width: 98%;
  margin: 2rem auto;
}

section {
  margin: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-flow: row wrap;
}

aside {
  flex: 1 1 0;
  border-right: 0.5rem solid var(--primary-color);
  padding-right: 1rem;
  text-align: right;
  color: var(--primary-color);
}

article {
  flex: 5 5 0;
  margin-left: 1.5rem;
  color: var(--primary-color);
}

/* <----- Footer Styles -----> */
footer {
  width: 100%;
  height: 8rem;
  text-align: center;
  background-color: var(--navbar-color);
  border-bottom: 2rem solid #4F4846;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

/* {============================= Class Selectors =============================} */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.contact-flex-space {
  justify-content: space-evenly;
  align-items: center;
}

/* <----- Work-Section & Card Sytles -----> */
.work-card:not(.card-title) {
  position: relative;
  margin: 1rem 1rem;
  filter: brightness(60%);
}

.work-card:hover {
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.card-title {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: absolute;
  left: 1rem;
  bottom: 5%;
}

/* {============================= ID Selectors =============================} */
/* <----- Home Button Styles: -----> */
#homebutton {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#homebutton::before {
  content: "🏠";
}

/* <----- About-me's Skill div Styles: -----> */
#skill {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5rem;
}

#skill div {
  padding: 2rem;
  /* outline is like border, but on the outside of the box instead of inside */
  outline: 0.5rem solid var(--primary-color);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

#skill h2 {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  margin: -5.5rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-image: var(--background-gradient);
  border: 0.5rem dashed var(--primary-color);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

#skill ul {
  list-style-position: inside;
}

#skill div:hover,
#skill div:hover h2 {
  box-shadow: var(--box-shadow-effect);
  background-color: var(--hover-bg);
  color: var(--hover-color);
}

/* <----- Specific work-card Section -----> */
/* #surf {
  height: 40vh;
  background-image: url("../images/surfreport.png");
} */

#project01 {
  height: 30vh;
  background-image: url("../images/cocktailBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
}

#project02 {
  height: 40vh;
  background-image: url("../images/project02.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
}

#led {
  height: 20vh;
  background-image: url("../images/led.png");
}

#calculator {
  height: 30vh;
  background-image: url("../images/calculator.jpg");
  background-position: center left;
}

#puzzle {
  height: 20vh;
  background-image: url("../images/puzzle.png");
}

#runbuddy {
  height: 20vh;
  background-image: url("../images/temp.jpg");
  background-position: center center;
}

/* <----- Footer-Contact Styles -----> */
#contact a {
  text-decoration: none;
  padding: 1rem;
  border-bottom: 0.2rem solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
}

#contact a:hover {
  background: var(--hover-bg);
  color: var(--hover-color);
  border-radius: 10px;
  transition: 0.5s;
}