:root {
  --navbar-color: grey;
  --primary-color: darkblue;
  --secondary-color: lightblue;
}


/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

/* Element Selectors */
html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

/* Header Styles & Navigation Bar Styles: */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--navbar-color);
  /* overflow: hidden; */
}

nav {
  /* display:flex;
  flex-flow: row wrap;
  justify-content: space-between; */
  /* overflow: hidden; */
}

nav a {
  float: left;
  text-align: center;
  padding: 1.5rem;
  color: var(--secondary-color);
}

nav a:hover {
  background-color: white;
  color: red;
}

nav div {
  float: right;
}

figure {
  margin: 0;
  background-image: url("../images/bg.jpg");
  padding-top: 7rem; 
}

img {
  display: block;
  border-radius: 50%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  display: inline;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 3rem;
  position: relative;
  bottom: 6rem;
  left: 120rem;
}

/* Main Content Styles */
main {
  width: 98%;
  margin: 2rem auto;
}

section {
  margin: 2rem 2rem;
  display: flex;
  flex-flow: row wrap;
}

aside {
  flex: 1 1 0;
  border-right: 0.5rem solid var(--primary-color);
  padding-right: 1rem;
  text-align: right;
  color: var(--primary-color);
  /* vertical-align: top; */
  /* align-self: start; */
}

article {
  flex: 5 5 0;
  margin-left: 1.5rem;
  color: var(--primary-color);
}

/* Class Selectors */
.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.work-card {
  border: 0.5rem dashed blue;
  background-color: grey;
  margin: 1rem 1rem;
  /* using a mobile-first approach */
  flex: 1 0 100%;
  /* padding: 1.5rem; */
  position: relative;
  /* display: inline-block; */
  filter: brightness(60%)
}

.work-card:hover {
  background-color: red;
  filter: brightness(100%)
  /* filter: brightness(100%); */
  /* transition: filter 0.3s ease; */
}

.work-card:first-child {
  height: 40vh;
}

.work-card:not(:first-child) {
  height: 30vh;
}

.card-title {
  display: inline-block;
  background-color: lightblue;
  color: darkblue;
  position: absolute;
  left: 1rem;
  bottom: 5%;
}

/* ID Selectors */
#homebutton {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#homebutton::before {
  content: "🏠";
}

#surf {
  background-image: url("../images/bg.jpg");
}


@media screen and (min-width: 992px) {
  /* on computer, set columns to only be 50% of the width and not grow */
  .work-card:not(:first-child) {
    flex: 0 0 47.45%;
  }
}