:root {
  --navbar-color: grey;
  --primary-color: darkblue;
  --secondary-color: lightblue;
}


/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

/* Element Selectors */
html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

/* Header Styles & Navigation Bar Styles: */
header {
  position: fixed;
  width: 100%;
  background-color: var(--navbar-color);
}

nav a {
  float: left;
  text-align: center;
  padding: 1.5rem;
  color: var(--secondary-color);
}

nav a:hover {
  background-color: white;
  color: red;
}

nav div {
  float: right;
}

figure {
  margin: 0;
  background-image: url("../images/bg.jpg");
  padding-top: 7rem; 
}

img {
  display: block;
  border-radius: 50%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  display: inline;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 3rem;
  position: relative;
  bottom: 6rem;
  left: 120rem;
}

/* Main Content Styles */
main {
  width: 98%;
  margin: 2rem auto;
}

section {
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
}

aside {
  flex: 1 1 0;
  border-right: 0.5rem solid var(--primary-color);
  padding-right: 1rem;
  text-align: right;
  color: var(--primary-color);
  /* vertical-align: top; */
  /* align-self: start; */
}

article {
  flex: 5 5 0;
  margin-left: 1.5rem;
  color: var(--primary-color);
}

/* Class Selectors */


/* ID Selectors */
#homebutton {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#homebutton::before {
  content: "🏠";
}